/*BODY STYLES
=======================================*/
body {
  line-height: 1;
  font-size: 14px;
  color: #1C2833;
}

footer {
  width: 90%;
  text-align: center;
  margin-top: 1em;
  font-size: 10px;
}


/*TEXT STYLES ==============================*/
p {
  font-size: 1em;
  text-align: left;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
  text-decoration: underline;
}

a:visited {
  color: #273746;
}

@media only screen and (min-width: 493px) {
  body {
    font-size: 16px;
  }
}
