/*.site-header {
  background: #FFEAAA;
}*/

/*.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}*/

.social-media ul {
  padding: 0;
  float: left;
  margin-left: 1em;
  margin-bottom: 2em;
  list-style: none;
  clear: both;
}

.social-media li {
  display: inline;
  padding: 1em 0.5em 1em 0.5em;
}

.icon-menu {
  font-size: 3em;
  float: right;
  margin: -55px 5px 0px 0px;
  filter:invert(1);
}

.main-nav {
  padding: 0.05em;
  /*display: inline;*/
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .3em .1em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display:none;
}

#articles {
  padding: 1rem;

}

#projects {
  display:none;
}

#about {
 display:none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 100%) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .1em .1em .1em 1em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }
}
